#activities-in-marseille-container { /*bloc principal activités à Marseille*/
    display: flex; /*les éléments à l'interieur du conteneur sont agencés horizontalement par défaut*/
    flex-wrap: wrap; /*autoriser les éléments à revenir à la ligne s'ils n'ont plus d'espace*/
    height: 25rem; /*hauteur du bloc principal de 25rem*/
}

.column-activities { /*chaques activités à Marseille séparées en colonnes*/
    display: flex; /*les éléments à l'interieur du conteneur sont agencés horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur colonne*/
    height: 100%; /*les blocs de chaques activités prennent 100% de la hauteur du bloc principal*/
    flex: 1; /*les blocs de chaque activités prennent la place dans le conteneur principal*/
}

.pictures-block { /*bloc regroupant chaque images ainsi que son intitulé h2*/
    display: flex; /*les éléments à l'interieur du conteneur sont agencés horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur colonne*/
    height: 100%; /*les images prennent 100% de la hauteur des blocs par défaut*/
    background-color: white; /*fond de couleur en bas des images de couleur blanche*/
    margin: 1rem; /*espace entre les pictures block de 1rem*/
    box-shadow: 0 2px 10px #ddd; /*ombre grisée sur les pictures block*/
    border-radius: 1rem; /*bordures arrondies des 4 cotés du block*/
    font-family: "Raleway"; /*police nommée Raleway selon google font*/
    font-weight: bold; /*largeur de la police en gras*/
    flex: 1; /*les blocs de chaque images prennent la place dans le conteneur principal*/
}

.pictures-block > img { /*l'image contenue dans pictures block*/
    object-fit: cover; /*l'image couvre tout le block*/
    height: 0; /*hauteur de 0 rem pour ne pas casser la mise en forme du flex*/
    border-radius: 1rem 1rem 0 0; /*bordures arrondies en haut et à droite de 1rem*/
    flex: 1; /*les images prennent toute la place du pictures block par défaut*/

}
.pictures-block > h2 { /*les h2 contenus dans pictures block*/
    padding-left: 1rem; /*marge intérieure gauche de 1rem*/
    white-space: nowrap; /*les h2 ne reviennent pas à la ligne*/
    font-family: "Raleway"; /*police nommée Raleway selon google font*/
    font-weight: bold; /*largeur de la police en gras*/
    font-size: 1rem; /*la taille de police d'écriture des h2 est de 1rem*/
}

#fort { /*id unique qui sert à ce que l'image du fort occupe un tiers de l'espace en colomne comme indiqué sur la maquette*/
    flex: 1.3;
}
