.filter-container { /*bloc "parent" ou sont contenus les filtres*/
    display: flex; /*définit un conteneur les blocs sont côte à côte horizontalement par défaut*/
    width: 68rem; /*largeur de 68rem (68 caractères)*/
    height: 3rem; /*hauteur de 3rem (3 caractères)*/
    padding: 1rem; /*marge interieure sur les 4 cotés de 1rem (1 caractère)*/
    align-items: center; /*Les éléments sont regroupés au centre de l'axe secondaire (interligne)*/
}

.filter-container > h2 { /*le "titre" "Filtres" de niveau 2 contenu dans le bloc "parent"*/
    font-family: "Raleway"; /*police d'écriture*/
    font-size: 1rem; /*taille de la police de 1 carctère*/
    margin-right: 2rem; /*le titre h2 Filtres est eloigné d'une marge vers la droite de 2 rem (2 carctères)*/
}

.filter-icons { /*bloc où sont contenues les icônes des filtres*/
    display:flex; /*définit un conteneur où les blocs enfants sont côte à côte horizontalement par défaut*/
    width: 100%; /*largeur des icônes de 100% par rapport à l'axe horizontal*/
    height: 100%; /*hauteur des icônes de 100% par rapport à l'axe vertical*/
    border-radius: 50rem; /*bordures arrondies de 50rem de chaques cotés afin de former un cercle*/
    justify-content: space-between; /*les éléments sont séparés avec de l'espace entre eux dans l'axe principal*/
    flex-direction: row; /*direction du conteneur horizontalement par défaut*/
    margin-right: 2rem; /*les icônes sont séparées d'un espacement de type marge à droite de 2rem*/
    color: #0065fc; /*icônes en bleues selon les couleurs en hexadécimal demandées dans la mission*/
    border: 2px solid #f2f2f2; /* continues autour du bloc des îcones de filtres en gris d'une taille de 2px*/
}

.filter-icons i { /*les blocs où sont contenues les icônes de type i*/
    min-width: 3rem; /*les icones sont de largeur minimum de 3rem*/
    border-radius: 50rem; /*entourées de cercles*/
    display: flex; /*définit un conteneur où les blocs enfants sont côte à côte horizontalement par défaut*/
    justify-content: center; /*les icônes sont centrées dans l'axe principal*/
    align-items: center; /*les icônes sont regroupées au centre de l'axe secondaire (interligne)*/
    background-color: #deebff; /*fond coloré en bleu clair selon la notation hexadécimale demandée par la mission*/
}

.filter-names { /*les blocs où sont contenus les noms des filtres*/
    display: flex; /*définit un conteneur où les blocs enfants sont côte à côte horizontalement par défaut*/
    justify-content: center; /*les noms des filtres sont centrés sans l'axe principal*/
    align-items: center; /*les noms de filtres sont regroupés au centre de l'axe secondaire (interligne)*/
    width: 100%; /*largeur des noms de filtres de 100% par rapport à l'axe horizontal*/
    padding-right: 1rem;
    padding-left: 1rem;
}

.filter-names h2 { /*tous les "titres" de niveau 2 contenus dans le bloc filter-names*/
    font-family: "Raleway"; /*nom de la police d'écriture google font "Raleway" */
    font-size: 1rem; /*taille de l'écriture de 1rem (1 caractère)*/
    color: black; /*couleur de la police d'écriture en noir*/
    white-space: nowrap; /*empêche retour à la ligne*/
} 
.filter-icons:hover { /*les filtres au survol changent d'apparence*/
    text-decoration: underline; /*le texte et l'icône dans les filtres sont soulignés en gris*/
    color: grey; /*la couleur au survol des icônes est grise*/
}