body { /*tout le code s'affichant à l'écran*/
    margin: 0; /*pas de marges extérieures*/
    font-family: 'Raleway'; /*police d'écriture principale en google font*/
    display: flex; /*définit un conteneur les où blocs sont côte à côte horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur une colonne*/
    justify-content: space-between; /*les éléments sont étirés sur tout l'axe (il y a de l'espace entre eux)*/
    padding: 1rem; /*marge intérieure de 1rem*/
}

.most-popular-asside { /*bloc parent englobant le bloc title-icon*/
    display: flex; /*définit un conteneur où les blocs sont côte à côte horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur une colonne*/
    justify-content: center; /*les éléments sont centrés dans l'axe principal*/
    height: 100%; /*la hauteur du bloc prend toute la page*/
    width: 34%; /*la largeur prend 34% de la page*/
    background-color:#f2f2f2; /*fond coloré du bloc en gris clair selon la notation hexadécimale*/
    border-radius: 1rem; /*bordres arrondies de 1rem de chaque cotés du bloc*/
}

.most-popular-asside > h2 { /*tous les h2 du bloc most-popular-asside*/
    padding-left: 2rem; /*marge intérieure gauche de 2rem sur les h2*/
    font-size: 2rem; /*taille de la police de 2rem sur les h2*/
}

.title-icon { /*bloc en globant le titre et l'icone "les plus populaires"*/
    display: flex; /*définit un conteneur où les blocs sont côte à côte horizontalement par défaut*/
    justify-content: space-between; /*les éléments sont étirés sur tout l'axe (il y a de l'espace entre eux)*/
    padding: 1rem 2rem; /*marge intérieure de 1rem en haut et en bas et de 2 rem à gauche et à droite*/
    align-items: center; /*alignement sur l'axe secondaire au centre*/
}

.title-icon > .logo-asside { /*bloc .title-icon parent de l'élément .logo-asside agit donc sur le logo*/
    padding: 1rem; /*le logo dispose d'une marge intérieure de 1rem*/
    font-size: 2rem; /*le logo fait une taille de 2 rem (2 caractères)*/
    padding-top: 2rem; /*le logo à une marge interieure haute de 2rem*/
}

.most-popular-list { /*bloc regroupant tous les hôtels les plus populaires, leur images, leur noms ainsi que leur notes*/
    display: flex; /*définit un conteneur où les blocs sont côte à côte horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur une colonne*/
    padding: 1.5rem; /*marges intérieure des blocs de 1.5rem de coté*/
}

.most-popular-hotel { /*bloc englobant toutes les informations relatives aux hotels les plus populaires*/
    display: flex; /*définit un conteneur où les blocs sont côte à côte horizontalement par défaut*/
    background-color: white; /*fond coloré de chaque blocs de couleur*/
    border-radius: 1rem; /*bordures arrondies de chaque cotés des blocs de 1rem*/
    width: 22rem; /*blocs de largeur de 22rem*/
    height: 8rem; /*blocs de hauteur de 8rem*/
    margin: 1rem; /*marges de 1rem de tous les côtés du bloc*/
    border: 5px solid white; /*bordure continue de chaque côtés du bloc de 5px et de couleur blanche*/
    box-shadow: 0 2px 10px #ddd; /*ombre de 0px à gauche et à droite (x) 2px en haut et en bas (y)*/
}

.most-popular-hotel img { /*les images des hotels les plus populaires*/
    border-radius: 1rem 0 0 1rem; /*bordures arrondies à gauche en haut et en bas des images*/
    width: 40%; /*largeur des images de 40% par rapport à son bloc parent de .most-popular-hotel*/
    height: 100%; /*hauteur des images de 40% par rapport à son bloc parent de .most-popular-hotel*/
    object-fit: cover; /*l'image couvre les 40% de largeur du bloc*/
}

.popular-hotel-name { /*bloc englobant les noms des hôtels et leur notes*/
    padding: 0 1rem; /*marge intérieure en haut et en bas de 0rem et de 1rem à gauche et à droite*/
    display: flex; /*définit un conteneur où les blocs sont côte à côte horizontalement par défaut*/
    flex-direction: column; /*les éléments sont organisés sur une colonne*/
    justify-content: space-around; /*les éléments sont étirés sur tout l'axe, ils laissent aussi de l'espace sur les extrémités*/
}

.popular-hotel-name h2 { /*tous les h2 du bloc nom des hôtels populaires*/
    font-size: 1rem; /*taille de la police d'écriture des h2 du bloc .popular-hotel-name est de 1rem*/
    margin: 0 0 0.5rem 0; /*toutes les marges exyérieures des h2 sont de 0 sauf celle du bas qui est de 0.5rem*/
}

.most-popular-asside a { /*tous les a du bloc principal*/
    font-weight: 300; /*police d'écriture fine selon google font*/
    font-size: 0.9rem; /*taille de police d'écriture de 0.9rem*/
}

.most-popular-asside span { /*tous les span dans le bloc principal*/
    font-weight: bold; /*largeur de la police en gras*/
}

.popular-hotel-notes { /*étoiles de notation en bleu des hôtels les plus populaires*/
    display: flex; /*définit un conteneur les blocs sont côte à côte horizontalement par défaut*/
    margin-top: 0.4rem; /*marge extérieure en haut de 0.4rem*/
    color: #0065fc; /*couleur des étoiles en bleu selon la notation hexadécimale*/
}


.gray-stars { /*étoiles grisées dans le bloc .hôtel-notes*/
    color:#f2f2f2; /*couleur grise des étoiles selon la notation hexadécimale*/
}