.container-search { /*bloc parent du bouton recherche*/
    display: flex; /*définit un conteneur les blocs sont côte à côte horizontalement par défaut*/
    width: 20rem; /*le bloc parent à une largeur de 20rem*/
    height: 3rem; /*le bloc parent à une hauteur de 3rem*/
    padding: 1rem; /*et des marges interieures sur tous les côtés de 1rem*/
}

#map { /*zone où se trouve le logo map*/
    display: flex; /*définit un conteneur les blocs sont côte à côte horizontalement par défaut*/
    justify-content: center; /*la zone de l'id map est centrée dans l'axe principal*/
    align-items: center; /*la zone de l'id map est centrée dans l'axe secondaire (interligne)*/
    background-color: #f2f2f2; /*le fond de couleur est gris selon la notation hexadécimale voulue pour la mission*/
    border-radius: 1rem 0 0 1rem; /*bordures arrondies de 1 rem en haut à gauche et en bas à gauche*/
    min-width: 3rem; /*largeur minimum de 3rem de la zone de l'id map*/
}

#map .fa-map-marker-alt { /*icône map*/
    font-size: 1rem; /*taille de l'icône 1rem*/
}

#site-search { /*input de type zone de recherche*/
    flex: 1; /*la zone de recherche occupe tout l'espace restant*/
    border: solid 1px #f2f2f2; /*la zone de recherche à une bordure continue de 1px et de couleur gris clair selon la notation hexadécimale*/
    font-size: 1rem; /*la police d'écriture est de 1rem (1caractère)*/
    font-family: "Raleway"; /*la police d''écriture est une google font nommée Raleway*/
    font-weight: bold; /*la police d'écriture est en gras*/
    padding: 0 1rem; /*marge intérieure de 0 en haut et en bas et de 1rem à gauche et à droite*/

}

.button { /*bouton "Rechercher"*/ 
    background-color: #0065fc; /*fond coloré pour le bouton "Rechercher" selon la notation hexadécimale*/
    padding: 0.5rem; /*marges intérieures de côté de 0.5rem*/
    border-radius: 0 1rem 1rem 0; /*bordures arrondies à droite en haut et en bas*/
    border:  #0065fc solid; /*bordure continue de couleur bleue selon la notation hexadécimale*/
    font-family: "Raleway"; /*police d'écriture google fonts du bouton rechercher*/
    font-weight: bold; /*police d'écriture en gras*/
    color: white; /*"Rechercher" écrit en blanc*/
    font-size: 1rem; /*taille de la police d'écriture de 1rem*/
    display: flex; /*définit un conteneur les blocs sont côte à côte horizontalement par défaut*/
    justify-content: center; /*la zone du texte "Rechercher" est centrée dans l'axe principal*/
    align-items: center; /*la zone du texte "Rechercher" est centrée dans l'axe secondaire (interligne)*/
}